* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Não muda a posição caso seja alterado o padding ou margin*/
    font-family: 'Arial', sans-serif;
}

:root {
    --laranja_principal: #ff9924;
    --laranja_secundario: #ff8234;
    --background_color_branco: #fff;
    --background_color_cinza: #d9d9d9;
    --preto_principal: #222222;
    --cor_texto_secundario: #414141;
    --laranja_hover: #ff9100;
    --fonte_primaria: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    /*Nesse caso, centraliza os itens*/
    align-items: center;
    height: 100vh;
    background-color: #ddd;
}

body::after {
    content: "";
    inset: 0;
    position: absolute;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), transparent 15%, transparent 85%, rgba(0, 0, 0, 0.6)), linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 15%, transparent 85%, rgba(0, 0, 0, 0.6)), url(../imagens/imagem-login-transparencia2.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
    z-index: -1;
}

main{
    background-color: #101010;
    width: 23rem;
    height: auto;
    padding: 2.5rem;
    border-radius: 5%;
    transition: .7s;
    box-shadow: 0px 0px 10px rgba(65, 65, 65, .2);
}

main:hover {
    box-shadow: 0px 0px 25px rgba(65, 65, 65, .2);
    transform: translateY(-5px);
    transition: .7s;
}

/*Estilização dos Textos*/

h2 {
    color: var(--background_color_branco);
    font-weight: 600;
    margin-bottom: 25px;
    padding: 0 75px;
    text-align: center;
}

.laranja{
    color: var(--laranja_principal);
}

/*Estilização das caixas de texto*/

.input-box {
    position: relative;
    margin: 20px 0 10px 0;
}

.input-box input {
    width: 100%;
    padding: 12px 15px;
    background-color: var(--preto_principal);
    border: none;
    border-radius: 1.5rem;
    outline: none;
    color: var(--background_color_branco);
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.4s;
    /*suaviza as transições*/
}

.input-box input[type='password']::-ms-reveal {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(110deg) brightness(98%) contrast(108%);
}

.input-box input:focus {
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 5px 15px rgba(15, 15, 15, 0.75);
}

.input-box span {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #FFFFFF;
    font-size: 16px;
    pointer-events: none;
    /*faz com que seja possível clicar na área de input*/
    transition: 0.4s;
    transform: translateY(-50%);
    /*modifica as dimensões (nesse caso sobe o span)*/
}

.input-box input:focus+span,
.input-box input:not(:placeholder-shown)+span {
    top: 7px;
    font-size: 10px;
    color: var(--background_color_branco);
}


/*Estilização do Lembrar-me*/

.lembrar-me {
    margin-left: 0.5rem;
}

.lembrar-me label {
    font-size: 15px;
    color: var(--background_color_branco);
    font-weight: 200;
}

.lembrar-me input:hover {
    box-shadow: 0px 1px 4px rgba(15, 15, 15, 0.5);
}

.lembrar-me label:hover {
    text-shadow: 0px 1px 2px rgba(15, 15, 15, 0.2);
}


/*Estilizações dos botões*/

.btn__login {
    margin-left: 5.8rem;
}

.btn__cadastro {
    margin-left: 5.4rem;
}

.submit-btn {
    background: #ff9924;
    /*vai mudando as cores de alguma coisa de forma mais suavizada*/
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    color: #040404;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 5px;
}

.submit-btn:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px #111;
}

.submit-btn a {
    text-decoration: none;
    color: var(--background_color_branco);
}

.button-cadastro,
.button-login {
    margin-top: 1rem;
    font-size: 14px;
    text-align: center;
    color: #f5f5f5;
}

/*Estilização do textinho lá embaixo que eu não sei qual seria o nome*/

p a {
    text-decoration: none;
    color: #ff9924;
    transition: 0.3s;
}

p a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}