@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #FF9924;
    --cor-terciaria: #FFFFFF;
    --fonte-primaria: Montserrat, sans-serif;
}

.body{
    background-color: var(--cor-terciaria);
}

.header{
    background-color: var(--cor-primaria);
}

.parte_superior{
    display: flex;
}

.Logo__PauloCar{
    float: left;
    height: 100px;
    width: auto;
    padding: 0 20px;
}

.LupaPesquisa{
    display: flex;
    float: center;
    width: 20px;
    height: auto;
    padding: 0 30px;
}

.LupaPesquisa{
    display: flex;
    float: center;
    width: 50px;
    height: auto;
    padding: 10 50px;
}


.Logo_Carrinho{
    float: right;

}