/*importa a fonte Montsserat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*zera a margem e os espaçamentos padrão*/
*{
    margin: 0;
    padding: 0;
}

/*Váriaveis de cores e fonte*/
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #FF9924;
    --cor-terciaria: #FFFFFF;
    --cor-quarternaria-cinza-claro: #D9D9D9;
    --cor-quinquenaria-cinza: #212121;
    --cor-sextenario-cinza: #3D3C3C;
    --cor-branco-transparente: rgba(255, 255, 255, 0.5); /*cor com transparência*/
    --fonte-primaria: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth; /*muda a página para onde queremos é instantâneo*/
}

/*cor de fundo da página*/
body{
    background-color: var(--cor-primaria);
}

/*header ocupando a tela inteira*/
header {
    position: relative; /*posiciona elementos filhos*/
    height: 100vh; /*altura*/
    width: 100%; /*largura*/
}

/* IMAGEM DE FUNDO (SEM MARGEM) */
header::before /*pseudo-elemento*/ {
    content: ""; /*obrigstório para o pseudo aparecer*/
    position: absolute; /*posiciona livremente dentro do header*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../imagens/fundoindex.png') top/cover no-repeat; /*top -> posição da imagem; cover -> cobre toda a área; no-repeat -> não repete*/
    opacity: 0.3; /*transparência*/
}

.conteudo__geral{
    margin: 0 20px;
    position: relative;
}

/*edita a seção section*/
section{
    display: flex;
}

.container-center{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*edita o texto central*/
.centro{
    text-align: center; /*centraliza o texto*/
    color: var(--cor-terciaria);
}

/*edita a primeira linha do título central*/
.centro h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
}

/*segunda linha do títilo central*/
.centro h2{
    display: block; /* ocupa toda a largura disponível do seu elemento pai e força uma quebra de linha antes e depois de si*/
    font-size: 61px;
    font-weight: 500;
    margin: 0;
}

/*última linha do título central*/
.centro p{
    font-size: 55px;
    margin-top: 15px;
    text-align: center;
}

p span{
    color: #FF9924;
}

/*2 seção: parte do sobre*/
.quem__somos{
    display: grid; /*ativar o grid*/
    grid-template-columns: 1fr 1fr; /*duas colunas iguais*/
    gap: 30px; /*espaço entre linha/coluna*/
    justify-content: space-between; 
    align-items: flex-start; /*controla o alinhamento*/
    padding: 50px;
}

 /*edita a escrita QUEM*/
.quem{
    color: var(--cor-secundaria);
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

/*edita a escrita SOMOS?*/
.somos{
    color: var(--cor-terciaria);
    margin-left: 150px;
    font-size: 60px;
    margin-top: -20px;
}

/*edita o parágrafo*/
.texto p{
    color: var(--cor-terciaria);
    font-size: 27px;
    text-align: left;
    margin-top: 100px;
    width: 600px;
    margin-left: 20px;
    text-align: justify;
}

.imagens__oficina{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*cria duas colunas*/
    gap: 5px;
    align-items: start;

}

.imagens__oficina img{
    width: 60%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.img__1, .img__2{
    height: 250px;
}

.img__1{
    margin-top: 110px;
}

.img__2{
    margin-top: 200px;
}

.img__3{
    margin-top: -90px;
}

