@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #FF9924;
    --cor-terciaria: #FFFFFF;
    --fonte-primaria: Montserrat, sans-serif;
}

.body{
    background-color: var(--cor-terciaria);
}

.header{
    background-color: var(--cor-primaria);
}

.parte_superior{
    display: flex;
}

.Logo__PauloCar{
    display: left;
    height: 60px;
    width: auto;
    padding: 20px 20px;
}

.LupaPesquisa{
    display: flex;
    width: 8%;
    height: auto;
    padding: 40px 30px;
}


.barra__pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 0.05px;
    padding: 20px 20px;
}

.Logo_Carrinho{
    width: 2.5%;
    height: 0%;
    margin-left: 68rem;
    margin-top: 1.25rem;
}

.Logo_UsuarioPadrao{
    width: 2.5%;
    height: 0%;
    margin-left: 1rem;
    margin-top: 1.25rem;

}

.Login_Cadastro{
    text-align: ;
}