* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Não muda a posição caso seja alterado o padding ou margin*/
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #ff9924;
    display: flex;
    justify-content: center; /*Nesse caso, centraliza os itens*/
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #ff9924, #ff9944);
}

main {
    background-color: #fff;
    width: 23rem;
    height: auto;
    padding: 2.5rem;
    border-radius: 10%;
    box-shadow: 0 6px 16px rgba(10, 10, 10, 0.75);
}


/*Estilização dos Textos*/

h2 {
    color: #222222;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 0 75px;
    text-align: center;
}

h4 {
    color: #414141;
    font-weight: 200;
    text-align: center;
    font-size: 15px;
    text-shadow: 0px 1px 1px rgba(65, 65, 65, 0.5);
}


/*Estilização das caixas de texto*/

.input-box {
    position: relative;
    margin: 15px 0 10px 0;
}

.input-box input {
    width: 100%;
    padding: 12px 15px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 1.5rem;
    outline: none;
    color: #444444;
    font-size: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.4s; /*suaviza as transições*/
}

.input-box input:focus {
    border-color: #222222;
    box-shadow: 0px 5px 15px rgba(15, 15, 15, 0.3);
}

.input-box span {
    position: absolute;
    top: 50%;
    left: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    pointer-events: none; /*faz com que seja possível clicar na área de input*/
    transition: 0.4s;
    transform: translateY(-50%); /*modifica as dimensões (nesse caso sobe o span)*/
}

.input-box input:focus+span,
.input-box input:not(:placeholder-shown)+span {
    top: 6px;
    font-size: 12px;
    color: #222222;
}

/*Estilização do Lembrar-me*/

.lembrar-me {
    margin-left: 0.5rem;
}

.lembrar-me label {
    font-size: 15px;
    color: #414141;
    font-weight: 200;
}


/*Estilizações dos botões*/

.btn__login {
    margin-left: 5.8rem;
}

.btn__cadastro {
    margin-left: 5.4rem;
}

.submit-btn {
    background: linear-gradient(90deg, #000, #222); /*vai mudando as cores de alguma coisa de forma mais suavizada*/
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 5px;
}

.submit-btn:hover {
    background: linear-gradient(90deg, #222, #000);
    box-shadow: 0 5px 15px #111;
}

.submit-btn a {
    text-decoration: none;
    color: #fff;
}

.button-cadastro, .button-login {
    margin-top: 1rem;
    font-size: 14px;
    margin-left: 0.8rem;
    text-align: center;
}


/*Estilização do textinho lá embaixo que eu não sei qual seria o nome*/

p a {
    text-decoration: none;
    color: rgba(35, 35, 255, 0.8)
}

p a:hover {
    color: #ff9100;
    text-decoration: underline;
}